

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light shadow-lg" style="background-color: white;">
        <button class="btn" id="menu-toggle"><span class="navbar-toggler-icon"></span></button> <i class="fas fa-home"></i>

      </nav>
      
      <div class="jumbotron" style="background-color: #393d48;">
        <div class="text-center">
          <img  id="bit-img" src="../img/bit.gif">
        </div> 

        <div class="text-center">
          <h2 class="text-center text-light" >R$ 67043.34</h2><br>
          <button type="button" class="btn" style="background-color: #FFD166;">
            Atualizar Valor
          </button><br><br>

          <h6 class="text-center text-light" >Não sabe o que é Bitcoin?</h6>
          <!--<a href=""><h6 class="text-center text-danger" >Clique aqui</h6></a><br>    -->
          <button class="btn btn-link text-warning" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Clique aqui
          </button>    
        </div>
      </div>
      
<br><br>

<div id="accordion">
  <div class="card " style="border: none; box-shadow: none;">
    <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="jumbotron bg-white">
          <h2 class="text-center" style="color: #504b47;">O que é Bitcoin?</h2><br>
          <div class="container">
            <p class="text-justify">Bitcoin é uma moeda digital, descentralizada e que não necessita de terceiros para funcionar. Isso significa que você não depende de bancos, grandes corporações ou governos para movimentar o seu dinheiro. Com o Bitcoin, o dinheiro é realmente seu. O Bitcoin foi a primeira criptomoeda do mundo e há oito anos funciona sem qualquer interrupção, baseada em uma rede descentralizada extremamente segura chamada Blockchain criada por Satoshi Nakamoto.</p>                     
          </div>

          <h2 class="text-center" style="color: #504b47;">Quais são as vantagens do Bitcoin?</h2><br>
          <div class="container">
            <p class="text-justify">O Bitcoin tem diversas propriedades e formas de uso, mas vamos abordar uma bem específica: bitcoin como moeda. Mas quais as vantagens do bitcoin como moeda? São muitas! Vamos ressaltar as principais: liberdade de pagamento, taxas menores, segurança, privacidade, controle e transparência. Nenhum Bitcoin pode ser confiscado, você pode mandá-lo para quem quiser pagando taxas menores. Além disso, ele é seguro e dá mais privacidade, controle e transparência nas negociações. Contudo, o Bitcoin pode ser utilizado também como investimento para que está procurando diversificar seu patrimônio para ter melhores ganhos. O Bitcoin trouxe excelentes retornos e a tendência é que ele se torne mais popular a longo prazo.</p>                     
          </div>

          <h2 class="text-center" style="color: #504b47;">Como comprar e vender bitcoins?</h2><br>
          <div class="container">
            <p class="text-justify">Atualmente existem três maneiras de adquirir bitcoins de maneira eficiente: através da mineração, comprando em exchanges ou comprando diretamente com outras pessoas. Minerar É possível adquirir Bitcoins através da mineração. Você vai precisar comprar um computador específico para isso e ceder seu poder computacional para a rede, confirmando transações. Para isso, você será recompensando com bitcoins a cada bloco minerado. Atualmente não é viável minerar no Brasil, porque o custo de eletricidade é muito alto. FoxBit Dá para adquirir bitcoins através de Exchanges como a Foxbit. As exchanges são sites que reúnem compradores e vendedores em um ambiente seguro, onde as trocas ocorrem de forma anônima e rápida. P2P Também é possível comprar Bitcoins diretamente com outras pessoas, sem precisar passar por uma exchange. O problema é que você vai precisar encontrar alguém de confiança e que conheça bitcoin, porque golpes nesse tipo de transação são comuns.</p>                     
          </div>

          <h2 class="text-center" style="color: #504b47;">Bitcoin é seguro?</h2><br>
          <div class="container">
            <p class="text-justify">Uma dúvida muito comum é sobre a segurança do Bitcoin. É seguro ter bitcoin? A resposta é simples e foi dada no vídeo acima por experts no assunto, o bitcoin é mais seguro do que o dinheiro que você tem hoje no seu banco. Conhecendo o bitcoin você vai saber o nível de segurança proporcionado por ele, é muito superior aos dos bancos tradicionais. No Bitcoin não há um único ponto de falha, para algum ator malicioso conseguir atacar a rede seria necessário invadir milhões de computadores em todo mundo, tarefa impossível. Enquanto nos sistemas bancários tradicionais há apenas alguns servidores centrais e todas as transações ficam escondidas do público.</p>                     
          </div>

          <h2 class="text-center" style="color: #504b47;">Ainda vale a pena investir em Bitcoins?</h2><br>
          <div class="container">
            <p class="text-justify">O melhor investimento para você é o que vai de acordo com o seu perfil de investidor. Por isso, para analisar se o bitcoin é uma boa opção para ser incluído em sua carteira de investimentos, procure analisar se você se encaixa no tipo de investidor que é arrojado. Faça uma análise da sua personalidade, juntamente com seus objetivos financeiros e decida se você gosta de aplicar em ativos que podem apresentar alta rentabilidade devido a sua volatilidade. Outra dica importante é contar com profissionais qualificados e empresas idôneas e confiáveis do mercado financeiro para orientá-lo da melhor forma possível.</p>                     
          </div>

          <h2 class="text-center" style="color: #504b47;">Quem criou o Bitcoin?</h2><br>
          <div class="container">
            <p class="text-justify">No dia 31 de outubro de 2008, auge da crise do subprime, um programador usando o pseudônimo de Satoshi Nakamoto publicou o White Paper do Bitcoin, um documento descrevendo como o sistema iria funcionar. Desde então, o Bitcoin vem sendo adotado por milhões de pessoas no mundo.</p>                     
          </div>

          <h2 class="text-center" style="color: #504b47;">Seja seu próprio banco</h2><br>
          <div class="container">
            <p class="text-justify">A Laís acabou de enviar uma transação de bitcoin para o Japão e ela fez isso sem precisar abrir uma conta bancária e em apenas alguns minutos. Com o Bitcoin você é seu próprio banco, baixar uma carteira de bitcoin é como ter disponível uma agência bancária nas suas mãos 24 horas por dia. Sem taxas, sem um gerente chato e capaz de transferir em instantes sua transação. Criar uma carteira de bitcoin é fácil e não custa nada. Assim como há diversas maneiras de interagir com seu banco, também é possível interagir de diversas formas com sua carteira de bitcoin, via app no smartphone, programa no seu desktop/notebook e até carteiras de papel. Vamos lá criar seu próprio banco? Veja no próximo item as melhores carteiras para instalar em seu celular e computador.
            </p>                     
          </div>
        </div>
      </div>
    </div>
  </div>

</div><br><br>
<!-- FOOTER -->
<footer class="container text-light">
  <p>&copy; Help Technology - Tecnologia em Soluções Digitais</p>
</footer>
  


  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

  <!-- Menu Toggle Script -->
  <script>
    $(".menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
