
    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light shadow-lg menu" >
        <button class="btn" id="menu-toggle"><span class="navbar-toggler-icon"></span></button> <i class="fas fa-home"></i>

      </nav>
      

      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="../img/banner6.jpg" alt="First slide">
            <div class="container">
              <!--<a href='https://br.freepik.com/fotos/fundo'>Fundo foto criado por mindandi - br.freepik.com</a>
              <a href='https://br.freepik.com/fotos/fundo'>Fundo foto criado por senivpetro - br.freepik.com</a>-->
              <div class="carousel-caption text-center text-light text-carousel">
                <h1>Encontre seu Imóvel</h1>
                <p>Busque agora o imóvel dos seus sonhos e faça a solicitação de um orçamento! Venha ser feliz com sua casa nova</p>
               
              </div>
            </div>
          </div>         
             
      </div>

    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
<center>
  <!--linha 1-->
  <div class="card-deck container">
    <div class="card">
      <img class="card-img-top img-imovel" src="../img/imovel1.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-left">Alphaville Residencial 3</h5>
        <h6 class="card-title text-left">Ribeirão Preto - SP</h6>
        <h6 class="card-title text-left">R$ 980.000,00</h6>
        <p class="card-text text-card text-left">Condomínio</p>
      </div>
      
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">
        Saiba mais »
      </button>
    </div>

    <div class="card">
      <img class="card-img-top img-imovel" src="../img/imovel2.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-left">Casa em Condomínio Royal Park</h5>
        <h6 class="card-title text-left">Ribeirão Preto - SP</h6>
        <h6 class="card-title text-left">R$ 982.000,00</h6>
        <p class="card-text text-card text-left">Condomínio</p>
       
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado2">
        Saiba mais »
      </button>     
    </div>

    <div class="card">
      <img class="card-img-top img-imovel" src="../img/imovel3.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-left">Apartamento Jardim Botânico</h5>
        <h6 class="card-title text-left">Ribeirão Preto - SP</h6>
        <h6 class="card-title text-left">R$ 600.000,00</h6>
        <p class="card-text text-card text-left">Apartamento</p>
        
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado3">
        Saiba mais »
      </button>
    </div>
  </div><br>

  <!--Linha 2-->
  <div class="card-deck container">
    <div class="card">
      <img class="card-img-top img-imovel" src="../img/imovel4.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-left">Casa Alto da Boa Vista</h5>
        <h6 class="card-title text-left">Ribeirão Preto - SP</h6>
        <h6 class="card-title text-left">R$ 890.000,00</h6>
        <p class="card-text text-card text-left">Casa</p>
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado4">
        Saiba mais »
      </button>
    </div>

    <div class="card">
      <img class="card-img-top img-imovel" src="../img/imovel5.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-left">Condomínio Itamaraty</h5>
        <h6 class="card-title text-left">Ribeirão Preto - SP</h6>
        <h6 class="card-title text-left">R$ 590.000,00</h6>
        <p class="card-text text-card text-left">Comercial</p>
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado5">
        Saiba mais »
      </button>
    </div>

    <div class="card">
      <img class="card-img-top img-imovel" src="../img/imovel6.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-left">Apartamento Fiusa</h5>
        <h6 class="card-title text-left">Ribeirão Preto - SP</h6>
        <h6 class="card-title text-left">R$ 800.000,00</h6>
        <p class="card-text text-card text-left">Comercial</p>
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado6">
        Saiba mais »
      </button>
    </div>
  </div>
  </center><br>

  <br><br>
  
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; Help Technology - Tecnologia em Soluções Digitais</p>
  </footer>


<!-- Modal 1-->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-image: linear-gradient(#395d7c, rgb(33, 55, 82));">       
        <h3 class="modal-title text-white">Código #1000</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <img class="card-img-top" src="../img/imovel1.jpeg" alt="Card image cap">
        <hr>
        <h4 class="modal-title" id="TituloModalCentralizado">Alphaville Residencial 3</h4>
        <hr>
        <div class="row">
          <div class="col-md-9">
            <h4 class="card-title">R$ 980.000,00</h4>
          </div>  
          <div class="col-md-3">           
            <img class="card-img-top" src="../img/bit.png" alt="Card image cap" style="width: 25%;"><span class="card-title mt-3" style="font-size: 20px;"> 2</span>
          </div>       
        </div>
        <hr>

        <div class="row">
          <div class="col-md-3 text-center" >
            <h4 class="card-title">432m²</h4>
            <p>Área</p>
          </div>  
          <div class="col-md-3 text-center" >
            <h4 class="card-title">4</h4>
            <p>Quartos</p>
          </div>  
          <div class="col-md-3 text-center" >
            <h4 class="card-title">3</h4>
            <p>Banheiros</p>
          </div>   
          <div class="col-md-3 text-center" >
            <h4 class="card-title">4</h4>
            <p>Vagas</p>
          </div>   
          
        </div>
        <hr>

        <div class="row">
          <!--<div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/solid/building.svg" ></a>
            <p>Pronto para morar</p>
          </div>  -->
          <div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/regular/building.svg" ></a>
            <p>Condomínio</p>
          </div> 
          <div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/regular/map.svg" ></a>
            <p>Localização</p>
          </div>   
          
        </div>
        <hr>
        
        <h5 class="card-title">Jardim Sumaré</h5>
        <p class="card-text text-card">Ribeirão Preto - SP</p>
      </div>

      <div class="modal-body text-justify">
        <h6 class="card-title ">Casa com 4 dormitórios sendo 3 suítes, sala 4 ambientes, lavabo, 4 vagas de garagens, piscina</h6>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-warning">Tenho Interesse</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2-->
<div class="modal fade" id="ExemploModalCentralizado2" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-image: linear-gradient(#395d7c, rgb(33, 55, 82));">       
        <h3 class="modal-title text-white">Código #1001</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <img class="card-img-top" src="../img/imovel2.jpeg" alt="Card image cap">
        <hr>
        <h4 class="modal-title" id="TituloModalCentralizado">Casa em Condomínio Royal Park</h4>
        <hr>
        <div class="row">
          <div class="col-md-9">
            <h4 class="card-title">R$ 982.000,00</h4>
          </div>  
          <div class="col-md-3">           
            <img class="card-img-top" src="../img/bit.png" alt="Card image cap" style="width: 25%;"><span class="card-title mt-3" style="font-size: 20px;"> 3</span>
          </div>       
        </div>
        <hr>

        <div class="row">
          <div class="col-md-3 text-center" >
            <h4 class="card-title">486m²</h4>
            <p>Área</p>
          </div>  
          <div class="col-md-3 text-center" >
            <h4 class="card-title">4</h4>
            <p>Quartos</p>
          </div>  
          <div class="col-md-3 text-center" >
            <h4 class="card-title">5</h4>
            <p>Banheiros</p>
          </div>   
          <div class="col-md-3 text-center" >
            <h4 class="card-title">4</h4>
            <p>Vagas</p>
          </div>   
          
        </div>
        <hr>

        <div class="row">
          <!--<div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/solid/building.svg" ></a>
            <p>Pronto para morar</p>
          </div>  -->
          <div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/regular/building.svg" ></a>
            <p>Condomínio</p>
          </div> 
          <div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/regular/map.svg" ></a>
            <p>Localização</p>
          </div>   
          
        </div>
        <hr>
        
        <h5 class="card-title">Royal Park</h5>
        <p class="card-text text-card">Ribeirão Preto - SP</p>
      </div>

      <div class="modal-body text-justify">
        <h6 class="card-title ">Casa em condomínio em excelente estado de conservação. Com ampla sala, cozinha planejada, 2 suítes e 2 dormitórios, gramado, piscina, quiosque com espaço gourmet, espaço com jardinagem de bom gosto, todos os dormitórios com vista para o lazer.</h6>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-warning">Tenho Interesse</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3-->
<div class="modal fade" id="ExemploModalCentralizado3" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-image: linear-gradient(#395d7c, rgb(33, 55, 82));">       
        <h3 class="modal-title text-white">Código #1002</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <img class="card-img-top" src="../img/imovel3.jpeg" alt="Card image cap">
        <hr>
        <h4 class="modal-title" id="TituloModalCentralizado">Apartamento Jardim Botânico</h4>
        <hr>
        <div class="row">
          <div class="col-md-9">
            <h4 class="card-title">R$ 600.000,00</h4>
          </div>  
          <div class="col-md-3">           
            <img class="card-img-top" src="../img/bit.png" alt="Card image cap" style="width: 25%;"><span class="card-title mt-3" style="font-size: 20px;"> 4</span>
          </div>       
        </div>
        <hr>

        <div class="row">
          <div class="col-md-3 text-center" >
            <h4 class="card-title">101.27m²</h4>
            <p>Área</p>
          </div>  
          <div class="col-md-3 text-center" >
            <h4 class="card-title">3</h4>
            <p>Quartos</p>
          </div>  
          <div class="col-md-3 text-center" >
            <h4 class="card-title">4</h4>
            <p>Banheiros</p>
          </div>   
          <div class="col-md-3 text-center" >
            <h4 class="card-title">2</h4>
            <p>Vagas</p>
          </div>   
          
        </div>
        <hr>

        <div class="row">
          <!--<div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/solid/building.svg" ></a>
            <p>Pronto para morar</p>
          </div>  -->
          <div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/regular/building.svg" ></a>
            <p>Apartamento</p>
          </div> 
          <div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/regular/map.svg" ></a>
            <p>Localização</p>
          </div>   
          
        </div>
        <hr>
        
        <h5 class="card-title">Jardim Botânico</h5>
        <p class="card-text text-card">Ribeirão Preto - SP</p>
      </div>

      <div class="modal-body text-justify">
        <h6 class="card-title ">Apartamento muito bonito, com 03 suítes, sala 02 ambientes, sacada gourmet, lavabo, excelente acabamento, porcelanato em todo o apartamento, completo de armários e projeto de iluminação. 02 vagas cobertas.</h6>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-warning">Tenho Interesse</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4-->
<div class="modal fade" id="ExemploModalCentralizado4" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-image: linear-gradient(#395d7c, rgb(33, 55, 82));">       
        <h3 class="modal-title text-white">Código #1003</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <img class="card-img-top" src="../img/imovel4.jpeg" alt="Card image cap">
        <hr>
        <h4 class="modal-title" id="TituloModalCentralizado">Casa Alto da Boa Vista</h4>
        <hr>
        <div class="row">
          <div class="col-md-9">
            <h4 class="card-title">R$ 890.000,00</h4>
          </div>  
          <div class="col-md-3">           
            <img class="card-img-top" src="../img/bit.png" alt="Card image cap" style="width: 25%;"><span class="card-title mt-3" style="font-size: 20px;"> 4</span>
          </div>       
        </div>
        <hr>

        <div class="row">
          <div class="col-md-3 text-center" >
            <h4 class="card-title">305.68m²</h4>
            <p>Área</p>
          </div>  
          <div class="col-md-3 text-center" >
            <h4 class="card-title">3</h4>
            <p>Quartos</p>
          </div>  
          <div class="col-md-3 text-center" >
            <h4 class="card-title">4</h4>
            <p>Banheiros</p>
          </div>   
          <div class="col-md-3 text-center" >
            <h4 class="card-title">2</h4>
            <p>Vagas</p>
          </div>   
          
        </div>
        <hr>

        <div class="row">
          <!--<div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/solid/building.svg" ></a>
            <p>Pronto para morar</p>
          </div>  -->
          <div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/regular/building.svg" ></a>
            <p>Casa</p>
          </div> 
          <div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/regular/map.svg" ></a>
            <p>Localização</p>
          </div>   
          
        </div>
        <hr>
        
        <h5 class="card-title">Alto da Boa Vista</h5>
        <p class="card-text text-card">Ribeirão Preto - SP</p>
      </div>

      <div class="modal-body text-justify">
        <h6 class="card-title ">Sobrado muito bem distribuído, 03 dormitórios repletos de armários e closet, lavabo, piso em mármore travertino, sala de TV e jantar, cozinha planejada, despensa, área de serviço com quarto e banheiro de empregada, varanda e piscina, garagem para 02 carros.</h6>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-warning">Tenho Interesse</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 5-->
<div class="modal fade" id="ExemploModalCentralizado5" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-image: linear-gradient(#395d7c, rgb(33, 55, 82));">       
        <h3 class="modal-title text-white">Código #1004</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <img class="card-img-top" src="../img/imovel5.jpeg" alt="Card image cap">
        <hr>
        <h4 class="modal-title" id="TituloModalCentralizado">Condomínio Itamaraty</h4>
        <hr>
        <div class="row">
          <div class="col-md-9">
            <h4 class="card-title">R$ 590.000,00</h4>
          </div>  
          <div class="col-md-3">           
            <img class="card-img-top" src="../img/bit.png" alt="Card image cap" style="width: 25%;"><span class="card-title mt-3" style="font-size: 20px;"> 3</span>
          </div>       
        </div>
        <hr>

        <div class="row">
          <div class="col-md-3 text-center" >
            <h4 class="card-title">111.74m²</h4>
            <p>Área</p>
          </div>  
          <div class="col-md-3 text-center" >
            <h4 class="card-title">3</h4>
            <p>Quartos</p>
          </div>  
          <div class="col-md-3 text-center" >
            <h4 class="card-title">3</h4>
            <p>Banheiros</p>
          </div>   
          <div class="col-md-3 text-center" >
            <h4 class="card-title">3</h4>
            <p>Vagas</p>
          </div>   
          
        </div>
        <hr>

        <div class="row">
          <!--<div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/solid/building.svg" ></a>
            <p>Pronto para morar</p>
          </div>  -->
          <div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/regular/building.svg" ></a>
            <p>Condomínio</p>
          </div> 
          <div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/regular/map.svg" ></a>
            <p>Localização</p>
          </div>   
          
        </div>
        <hr>
        
        <h5 class="card-title">Condomínio Itamaraty</h5>
        <p class="card-text text-card">Ribeirão Preto - SP</p>
      </div>

      <div class="modal-body text-justify">
        <h6 class="card-title ">Casa antiga mas muito bem conservada com 3 dormitórios com armários sendo 1 suíte, cozinha planejada, área de serviço, sala para 2 ambientes, 1 vaga coberta e 2 descobertas. Nos fundos tem uma edícula e banheiro reformados, piscina infantil, churrasqueira.</h6>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-warning">Tenho Interesse</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 6-->
<div class="modal fade" id="ExemploModalCentralizado6" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-image: linear-gradient(#395d7c, rgb(33, 55, 82));">       
        <h3 class="modal-title text-white">Código #1005</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <img class="card-img-top" src="../img/imovel6.jpeg" alt="Card image cap">
        <hr>
        <h4 class="modal-title" id="TituloModalCentralizado">Apartamento Fiusa</h4>
        <hr>
        <div class="row">
          <div class="col-md-9">
            <h4 class="card-title">R$ 800.000,00</h4>
          </div>  
          <div class="col-md-3">           
            <img class="card-img-top" src="../img/bit.png" alt="Card image cap" style="width: 25%;"><span class="card-title mt-3" style="font-size: 20px;"> 4</span>
          </div>       
        </div>
        <hr>

        <div class="row">
          <div class="col-md-3 text-center" >
            <h4 class="card-title">140.87m²</h4>
            <p>Área</p>
          </div>  
          <div class="col-md-3 text-center" >
            <h4 class="card-title">3</h4>
            <p>Quartos</p>
          </div>  
          <div class="col-md-3 text-center" >
            <h4 class="card-title">4</h4>
            <p>Banheiros</p>
          </div>   
          <div class="col-md-3 text-center" >
            <h4 class="card-title">3  </h4>
            <p>Vagas</p>
          </div>   
          
        </div>
        <hr>

        <div class="row">
          <!--<div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/solid/building.svg" ></a>
            <p>Pronto para morar</p>
          </div>  -->
          <div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/regular/building.svg" ></a>
            <p>Apartamento</p>
          </div> 
          <div class="col-md-4 text-center" >
            <img class="menu-icon"  src="../fontawesome/svgs/regular/map.svg" ></a>
            <p>Localização</p>
          </div>   
          
        </div>
        <hr>
        
        <h5 class="card-title">Fiusa</h5>
        <p class="card-text text-card">Ribeirão Preto - SP</p>
      </div>

      <div class="modal-body text-justify">
        <h6 class="card-title ">Apartamento de 3 suítes, face sombra em frete ao Parque das Artes, sala 3 ambientes, lavabo, home office, varanda gourmet fechada com vidro, cozinha planejada, completo em armarios, depósito no subsolo, 3 vagas de garagem, 140,97m² de área privativa.</h6>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-warning">Tenho Interesse</button>
      </div>
    </div>
  </div>
</div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

  <!-- Menu Toggle Script -->
  <script>
    $(".menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
