
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MH Imóveis</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link rel="icon" type="imagem/png" href="img/log-menu.png" />

  <link href="https://economia.awesomeapi.com.br/all/BTC-BRL">
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light " id="sidebar-wrapper" >
     
      <div class="sidebar-heading text-center" style="background-image: linear-gradient(#395d7c, rgb(33, 55, 82));">
        <div class="row">
          <div class="col-md-6">
            <img class="rounded-circle" src="img/logo.png" alt="Generic placeholder image" width="80" height="80">
          </div>
          <div class="col-md-6">
            <p class="card-text text-card text-light" >Bem Vindo! <br><span style="color: rgb(255, 255, 37);">Visitante</span> </p>            
            <a href="/login"><button class="btn btn-sm btn-outline-dark" style="background-color: rgb(255, 255, 37);">Entrar</button></a>
          </div>
        </div>
        
        
      </div>
      
  
        <div class="list-group list-group-flush">
        <a href="/"  class="list-group-item list-group-item-action bg-light text-dark"><img class="menu-icon" src="fontawesome/svgs/solid/home.svg" >Início</a>
        <a href="/transacoes" class="list-group-item list-group-item-action bg-light text-dark"><img class="menu-icon"  src="fontawesome/svgs/solid/user.svg" > Minha Conta</a>
        <a href="/imoveis"  class="list-group-item list-group-item-action bg-light text-dark"><img class="menu-icon" src="fontawesome/svgs/solid/house-user.svg" >Imóveis</a>
        <a href="/lancamentos" class="list-group-item list-group-item-action bg-light text-dark"><img class="menu-icon"  src="fontawesome/svgs/solid/building.svg" >Lançamentos</a>
        <a href="/bitcoins" class="list-group-item list-group-item-action bg-light text-dark"><img class="menu-icon"  src="fontawesome/svgs/brands/bitcoin.svg" >Bitcoins</a>
        <a href="/#sobre" class="list-group-item list-group-item-action bg-light text-dark"><img class="menu-icon"  src="fontawesome/svgs/solid/user-tie.svg" >Sobre Nós</a>
        <a href="/#contato" class="list-group-item list-group-item-action bg-light text-dark"><img class="menu-icon"  src="fontawesome/svgs/solid/headset.svg" >Fale Conosco</a>
        <a href="/informacoes" class="list-group-item list-group-item-action bg-light text-dark"><img class="menu-icon" id="info" src="fontawesome/svgs/solid/info.svg">Informações</a>
        <a href="#" class="list-group-item list-group-item-action bg-light text-dark"><img class="menu-icon" src="fontawesome/svgs/solid/cog.svg" >Configurações</a>
      </div>
    </div>

{{{body}}}